!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body
    %h1
      Listing blogs
    %table
      %thead
        %tr
          %th Title
      %tbody
        - @blogs.each do |blog|
          %tr
            %td<
              = blog.title
            %td<
              = link_to 'Show', blog_path(blog)
            %td<
              = link_to 'Edit', edit_blog_path(blog)
            %td<
              = link_to 'Destroy', blog_path(blog), :method => :delete

    = link_to 'New Blog', new_blog_path
