<h1>Edit entry</h1>
<%= form_for([@blog, @entry]) do |f| %>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title%>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_field :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
 
<%= link_to 'Back', blog_entry_path(@blog.id) %>
