!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body
    %h1 New entry
    
    = form_for([@blog, @entry]) do |f|
      - flash.each do |key, value|
        %div{:class => "alert alert-#{key}"}= value
      .field
        = f.label :title
        = f.text_field :title
      .field
        = f.label :body
        = f.text_field :body
      .actions
        = f.submit
  
    = link_to 'Back', blog_path(@blog.id)
